<!DOCTYPE html>
<html>

<head>
    <title>weather app</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="main-content">
        <div class="overlay">
            <article class="widget">
                <form class="weatherLocation">
                    <input class="input-field" placeholder="Enter country name" type="text" />
                    <button class="search-button">Seach</button>
                </form>
                <div class="weatherInfo">
                    <h3 class="place"></h3>
                    <h3 class="longitude"></h3>
                    <h3 class="Latitude"></h3>
                    <center>
                        <h3 class="temperature"></h3>

                        <h3 class="weatherCondition"></h3>

                        <h3 id="error"></h3>
                    </center>
                </div>

            </article>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>

</html>